
.jumbotron{
    background-image: url("../../images/donuts-and-bagel-display-205961.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    
    width: 60%;
    margin: auto;
    margin-top: 30px;
 
    /* height: 300; 
    padding-top: 120; 
    text-align: center;  */
    border-radius: 0
    }

h1{
    font-family: 'Pacifico', cursive;
    color:  white;
    text-shadow: 2px 2px 5px  #0d1852;
    text-align:center;
    font-size:72px;
    margin: auto;
    padding-top: 20px;
} 
h3{
    font-family: 'Pacifico', cursive;
    color:  #9933ff
}   
.logo{
        max-width: 15%;
        height: auto;
        float: center;
        padding: 25px;
}


h2{
    font-family: 'Pacifico', cursive;
    color:  white;
    text-shadow: 2px 2px 5px  #0d1852;
    text-align:center;
    font-size:42px;
    margin: auto;
    padding-top: 20px;
    position: fixed bottom;
} 