.list-overflow-container {
    max-height: 595px;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    overflow-y: scroll;
  }
  
  .list-overflow-container ul {
    margin: 0;
  }
  
  .list-overflow-container li {
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }
  
  .list-overflow-container li * {
    cursor: all-scroll;
  }
  
  .list-overflow-container li:first-child {
    border-top: none;
    padding-top: 16px;
  }
  
  .list-overflow-container li:last-child {
    border-bottom: none;
  }

  .listItem{
    padding-left: 16px;
    border-bottom: 5px #DDDDDD solid;
    background-color: white;
  }