body{
  
 background-image: url("../images/marble-surface-2341290.jpg");
 background-repeat: no-repeat;
 background-size: auto;
  
  }

.jumbotron{
background-image: url("../images/donuts-and-bagel-display-205961.jpg");
width: 800px;
height:400px;
background-size: cover;
margin: auto;
margin-top: 30px;
  
    }

  .submitOrder{
    margin: auto;
    background-color: purple;
  }
 
  .top{
    background-color: #0d1852;
    color: white;
  }
  .order{
    border-color:  #0d1852;
    border: double 6px;
    padding: 20px;
    width: 600px;
    height: 900px;
   
    border-radius: 25px;
    background-color: #0d1852;
    color: white;
   
  }
 
.material-icons{
  color:white;
}

a{
  color:white;
   font-family: 'Righteous', cursive;
  text-align: right;
}

i{
  margin-right: 3px;
}

TextArea{
  height:50px;
}
.submit{
  background-color: white;

}

.pics{

margin: auto;

}
