body{
  
 background-image: url("../images/marble-surface-2341290.jpg");
 background-size: 100%;
 margin-bottom: 150px;

  }

/* .jumbotron{
background-image: url("../images/donuts-and-bagel-display-205961.jpg");
width: 800px;
height:400px;
background-size: cover;
margin: auto;
margin-top: 30px;
  
    } */

  .submitOrder{
    margin: auto;
    background-color: purple;
  }
 
  .top{
    background-color: #0d1852;
    color: white;
  }
  .order{
    border-color:  #0d1852;
    border: double 6px;
    padding: 20px;
    height: 1030px;
   
    border-radius: 25px;
    background-color: #0d1852;
    color: white;
   
  }
 
.material-icons{
  color:white;
}

a{
  color:white;
   font-family: 'Righteous', cursive;
  text-align: right;
}

a:hover{
  background-color: grey;
  border-radius: 10px;
}

.navbar-nav > a{
  color: white;  
}
.navbar > a{
  color: white;
}

i{
  margin-right: 3px;
}

TextArea{
  height:50px;
}
.submit{
  background-color: white;

}

.pics{

margin: auto;

}

.salad {
  font-size: 70px;

}

.registeredTop{
  text-align: center;
}

.carousel-wrapper{
  margin-left: 0px;
  margin-right: 40px;
}

.map{
  border:solid 6px;
  border-color: #0d1852;
  background-color: white;
}

.mapText{
  text-align: center;
}

p{
  font-family: 'Righteous', cursive;
  color: #0d1852;
  font-size:24px;
}

.textOrderForm{
  color: white;
}

.button{
  background-color: white;
}

.ordersTable{
  border: 1px solid #0d1852;
}

.inventoryPlots{
  margin-top: 30px;
  border: 1px solid #0d1852;
}

.orderStatusUpdate{
  margin-top: 30px;
  width: 40%;
  display: inline-block;
  background-color: white;
  border: 1px solid #0d1852;
  padding: 16px;
}

.orderDelete{
  margin-top: 30px;
  display: inline-block;
  width: 40%;
  margin-left: 0px;
  background-color: white;
  border: 1px solid #0d1852;
  padding: 16px;
}

.ordersList{
  margin-top: 30px;
  border-radius: 4px;
  background-color: #0d1852;
  padding: 16px;
}

.textListItem{
  font-size: 20px;
  line-height: 16px;
}

.welcome {
  font-size: 32px;
  margin-bottom: 0px;
  font-weight: bold;
}